@using BlazorCustomLayoutPage.Client.Models
@inject HttpClient Http
@inject IUserLayout userLayout

@*<Router AppAssembly="@typeof(App).Assembly">*@
<Router AppAssembly="@typeof(Program).Assembly" PreferExactMatches="@true">
    <Found Context="routeData">
        @*<RouteView RouteData="@routeData" DefaultLayout="@LayoutType" />*@
        <RouteView RouteData="@routeData" DefaultLayout="@userLayout.GetLayoutType()" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        @*<LayoutView Layout="@LayoutType">*@
         <LayoutView Layout="@typeof(PageNotFoundLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>

@code
{

    //public Type LayoutType { get; set; } = typeof(MainLayout);

    //public void SetLayout(Type layout)
    //{
    //    LayoutType = layout;
    //    StateHasChanged();
    //}

    //public string LayoutName { get; set; } = "CustomLayout";

    //protected override Task OnInitializedAsync()
    //{
    //    switch (LayoutName)
    //    {
    //        case "MainLayout":
    //            SetLayout(typeof(MainLayout));
    //            break;
    //        case "CustomLayout":
    //            SetLayout(typeof(CustomLayout));
    //            break;
    //        default:
    //            SetLayout(typeof(MainLayout));
    //            break;
    //    }
    //    return base.OnInitializedAsync();
    //}
}
